streamlit>=1.42.2
crewai>=0.102.0
langchain>=0.3.19
langchain-community>=0.3.18
langchain-core>=0.3.37
wikipedia>=1.4.0
openai>=1.63.2
python-docx
PyPDF2
pandas
Pillow
pytesseract
beautifulsoup4
requests
python-dotenv
pydantic
litellm
tiktoken
typing_extensions
aiohttp
pysqlite3-binary